{% extends "base.html" %}

{% block extrahead %}
  <meta property="og:title" content="{% if page.title %}{{ page.title }} - {% endif %}{{ config.site_name }}" />
  <meta property="og:type" content="webpage" />
  <meta name="twitter:card" content="summary" />
  <meta property="og:url" content="{{ page.canonical_url }}" />
{% if page and page.meta and page.meta.description %}
  <meta property="og:description" content="{{ page.meta.description }}">
{% elif config.site_description %}
  <meta property="og:description" content="{{ config.site_description }}">
{% endif %}
{% endblock %}
