{% extends "base.html" %}

{% block extrahead %}
  <meta property="og:title" content="{% if page.title %}{{ page.title }} - {% endif %}{{ config.site_name }}" />
  <meta property="og:type" content="webpage" />
  <meta name="twitter:card" content="summary" />
  <meta property="og:url" content="{{ page.canonical_url }}" />
  <meta property="og:image" content="https://rsdkmodding.com/assets/favicon.svg" />
  <meta property="og:image:type" content="image/svg+xml" />
{% if page and page.meta and page.meta.description %}
  <meta property="og:description" content="{{ page.meta.description }}">
{% elif config.site_description %}
  <meta property="og:description" content="{{ config.site_description }}">
{% endif %}
  <meta property="og:image:width" content="512" />
  <meta property="og:image:height" content="512" />
{% endblock %}
