.md-content {
    border-radius: 1em;
    background-color: color-mix(in srgb, var(--content-bg-color), transparent 30%);
}

.md-main__inner {
    margin-bottom: 1.5rem;
}

.md-typeset h1 {
    font-weight: bold;
}

.md-typeset h2 {
    font-weight: bold;
}

.tabbed-labels {
    background-color: var(--content-bg-color);
}